.main{
  background-color: aqua;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.avatar{
  border-radius: 90%;
}


.avatarr{
  border-radius: 90%;
}


.avater{
  border-radius: 90%;

}

.container{
  text-align: center;
}
